In [1]:
import pandas as pd

In [2]:
table = pd.DataFrame({'Product':['Simba', 'Lays', 'Coke', 'Fanta','Cadbury','Tex','Pepper Steak','Chicken','Pear','Apple','Orange','vanilla','chocolate','spinach','cabbage'],
                   'Quantity':['10', '12', '8', '24','15', '3', '17', '17','11','8','22','12','16','22','15']})

In [3]:
#create index column
table['Product_id'] = table.index+1

In [4]:
#Arrange columns
table=table[['Product_id', 'Product', 'Quantity']]

In [5]:
table

    Product_id       Product Quantity
0            1         Simba       10
1            2          Lays       12
2            3          Coke        8
3            4         Fanta       24
4            5       Cadbury       15
5            6           Tex        3
6            7  Pepper Steak       17
7            8       Chicken       17
8            9          Pear       11
9           10         Apple        8
10          11        Orange       22
11          12       vanilla       12
12          13     chocolate       16
13          14       spinach       22
14          15       cabbage       15

In [6]:
table.to_csv('Products.csv',index=False)